

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
#continer{
    text-align: center;

}
button{
    margin: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#Yes{
   color: white;
    background-color: rgb(67, 171, 67);
}
#No{
    position: absolute;
    color: white;
    background-color: red;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    #container {
        padding: 10px;
    }

    button {
        font-size: 14px; 
    }
}
